.footer {
}

.footer p {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #2CAF61;
}

.footer-container {
    max-width: 1200px;
    background: #76EBA5;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
    align-items: center;
  }
  
  .footer-text {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #2CAF61;
  }
  
  .footer-text li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height:1.1;
    color: #2CAF61;
    margin-bottom: 30px;
  }
  
  .footer-text li a {
    color: #2CAF61;  
  }
  
  .footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
  }
  
  @media (max-width: 800px) {
    .footer-container {
      grid-template-columns:1fr;
      gap: 40px;
    }
    .footer-contato li {
      font-size: 1.5rem;
    }
  }
  