.products {
  background-color: #fff;
  border-radius: 0 0 3rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.products .subtitle {
  color: #2CAF61;
  font-size: 4rem;
}

.products-text {
  left: 40px;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.products-text strong {
  font-weight: bold;
  color: #141414;
}

.products img {
  width: 20rem;
}

.products-container {
  display: flex;
}
  
  